Repository ulyagram77/baller-bot-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

chore: added typechecking before commit
  package.json
Due: prettier --write --ignore-unknown

chore: added test check on pre-push
  .husky/pre-push
Due: none

chore: orginized structure
  data/.gitkeep
  src/common/.gitkeep
  src/modules/.gitkeep
Due: none

chore: changed
  .gitignore
Due: none

chore: deleted useless
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.service.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

chore: setuped prisma ORM + sqlite DB
  .lintstagedrc
  package.json
  prisma/schema.prisma
  src/app.module.ts
  src/config/core.config.ts
  src/config/database/database.module.ts
  src/config/database/prisma.service.ts
  src/main.ts
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

chore: temporary removed
  .husky/pre-push
Due: none

updated docs
  README.md
  docs/banner.png
Due: prettier --write --ignore-unknown

updated docs
  .env.example
  README.md
Due: prettier --write --ignore-unknown

chore: update dependencies for @prisma/client and related packages
  package.json
Due: prettier --write --ignore-unknown

feat: implement features module with CRUD operations and Swagger documentation
  prisma/migrations/20250623083319_create_features_table/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app.module.ts
  src/main.ts
  src/modules/.gitkeep
  src/modules/features/dto/create-feature.dto.ts
  src/modules/features/dto/update-feature.dto.ts
  src/modules/features/entities/features.entity.ts
  src/modules/features/features.controller.spec.ts
  src/modules/features/features.controller.ts
  src/modules/features/features.module.ts
  src/modules/features/features.service.spec.ts
  src/modules/features/features.service.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

refactor: remove internal server error responses from features controller
  src/modules/features/features.controller.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

refactor: replace InternalServerErrorException with generic error messages in features service
  src/modules/features/features.service.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

refactor: error handling changes
  src/modules/features/features.controller.ts
  src/modules/features/features.service.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

chore: small folder changes
  src/common/.gitkeep
  src/config/swagger/index.ts
  src/main.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

updated docs
  README.md
Due: prettier --write --ignore-unknown

chore: small folder changes
  src/config/swagger.config.ts
  src/main.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

feat: add BotModule and BotService with Telegraf integration
  package.json
  src/app.module.ts
  src/modules/bot/bot.module.ts
  src/modules/bot/bot.service.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

chore: update .env.example and README with new environment variables
  .env.example
  README.md
Due: prettier --write --ignore-unknown

refactor: moved bot and swagger configuration to separate files
  src/config/bot.config.ts
  src/config/core.config.ts
  src/config/swagger.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

refactor: replaced feature entity with dto and deleted tests
  src/modules/features/entities/features.entity.ts
  src/modules/features/features.controller.spec.ts
  src/modules/features/features.service.spec.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

feat: implement user authentication with JWT and its strategies
  package.json
  prisma/migrations/20250624121328_added_users_table/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/common/decorators/authorization.decorator.ts
  src/common/decorators/autorized.decorator.ts
  src/config/jwt.config.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/auth.dto.ts
  src/modules/auth/dto/login.dto.ts
  src/modules/auth/dto/register.dto.ts
  src/modules/auth/guards/jwt.guard.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/bot/bot.module.ts
  src/modules/features/dto/feature.dto.ts
  src/modules/features/features.controller.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

feat: added env validation with joi
  package.json
  src/app.module.ts
  src/config/core.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

feat: add user statistics module with CRUD operations
  prisma/migrations/20250628120921_added_users_stats_table/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/modules/stats/dto/create-stat.dto.ts
  src/modules/stats/dto/stat.dto.ts
  src/modules/stats/dto/update-stat.dto.ts
  src/modules/stats/entities/stat.entity.ts
  src/modules/stats/stats.controller.ts
  src/modules/stats/stats.module.ts
  src/modules/stats/stats.service.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

feat: implement API error response decorators and update authorization decorator
  src/common/decorators/api-error-response.decorator.ts
  src/common/decorators/authorization.decorator.ts
  src/modules/auth/auth.controller.ts
  src/modules/features/features.controller.ts
  src/modules/stats/stats.controller.ts
Due: eslint --fix, prettier --write --ignore-unknown, npm run typecheck

chore: unignored yarn.lock for deploy on railway
  .gitignore
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write --ignore-unknown: (any of: src/**/*.ts) or (any of: *.{json,md})
  npm run typecheck: any of: *.{ts,d.ts}
